.header {
  display: flex;
  gap: 10px;

  align-items: center;
}

.title {
  margin: 0;

  font-size: 32px;

  span:first-child {
    color: #7C8AA1;
  }

  span:last-child {
    color: #000000;
  }
}

.button {
  margin-top: 4px;
}

@media screen and (width <= 575px) {
  .title {
    max-width: 210px;

    font-size: 25px;
  }
}
