.root {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;
}

.inner {
  text-align: center;

  color: #60708D;

  font-size: 24px;

  p {
    margin-top: 10px;
  }
}

@media screen and (width <= 425px) {
  .inner {
    svg {
      height: 250px;
    }

    p {
      font-size: 20px;
    }
  }
}

