.root {
  display: grid;
  grid-template-columns: var(--sidebar-width) 1.5fr 1fr;
  grid-template-rows: 0.1fr 2fr 1fr;
  gap: 0 0;

  transition: .2s ease-in;

  grid-template-areas:
    "sidebar children children"
    "sidebar children children"
    "sidebar children children";
}

.hamburger {
  pointer-events: none;

  opacity: 0;
}

.closedMenu {
  grid-template-columns: var(--sidebar-width-closed) 1.5fr 1fr;

  .header {
    justify-content: center;

    padding: 0 15px;
  }

  .sidebar {
    min-width: var(--sidebar-width-closed);
  }

  .button {
    transform: rotateY(190deg);
  }

  .title {
    position: absolute;

    transform: translateX(-100%) scale(0);

    opacity: 0;
  }

  .menuLink {
    justify-content: center;

    span {
      position: absolute;

      transform: translateX(100%) scale(0);
    }
  }
}

.sidebar {
  position: fixed;

  min-width: var(--sidebar-width);
  height: 100%;

  padding: 24px 0;

  transition: .2s ease-in;

  background-color: #181F2D;
  grid-area: sidebar;
}

.children {
  padding: 55px 34px;

  background-color: #F8F8F8;
  grid-area: children;
}

.header {
  position: absolute;
  top: 34px;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;

  padding: 0 30px;
}

.title {
  margin-bottom: 0;

  transition: .3s ease-in;

  color: #FFFFFF;

  font-family: "Roboto Slab Variable", sans-serif;
  font-size: 29px;
}

.button {
  svg path {
    transition: all .2s ease-in;
  }

  &:hover {
    svg path {
      stroke: #8794a9;
    }
  }
}

.menuList {
  position: absolute;
  top: 90px;
  left: 0;

  width: 100%;
  margin-bottom: 0;
  padding: 0 15px;

  list-style: none;
}

.menuItem {
  cursor: pointer;
}

.menuLink {
  display: flex;

  padding: 15px;

  transition: all .2s ease-in;

  color: #FFFFFF;

  border-radius: 12px;
  gap: 9px;

  &:hover {
    text-decoration: none;

    background-color: #222B3D;
  }
}

@media screen and (width <= 820px) {
  .root {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 70px 1fr 1fr;
    gap: 0 0;

    transition: .2s ease-in;

    grid-template-areas:
    "sidebar sidebar sidebar"
    "children children children"
    "children children children";
  }

  .hamburger {
    pointer-events: all;

    opacity: 1;
  }

  .sidebar {
    z-index: 10;

    width: 100%;
    height: 80px;
  }

  .header {
    top: 18px;
  }

  .button {
    display: none;
  }

  .hamburger {
    position: absolute;
    z-index: 10;
    top: 18px;
    right: 22px;
  }

  .menuList {
    pointer-events: none;

    opacity: 0;
  }

  .children {
    padding-top: 45px;
  }

  .activeMenu {
    .menuList {
      pointer-events: none;

      opacity: 0;
    }

    .sidebar {
      height: 100%;
    }

    .menuList {
      pointer-events: all;

      opacity: 1;
    }
  }
}

@media screen and (width <= 425px) {
  .children {
    padding: 30px 15px;
  }
}
